<input type="text" #course>&nbsp;&nbsp; 
<button class="btn btn-primary" (click)="add(course)">Add</button>
<ul>
  <h1>Courses :</h1>
  <h4>
  <li *ngFor="let course of courses$ async">
    {{course}}&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="update(course)">Update</button>&nbsp;&nbsp;
    <button class="btn btn-primary" (click)="delete(course)">Delete</button><br>     
  </li>
</h4>
</ul>
<!-- <p>{{course | json}}</p> -->
<ul *ngIf="author$ | async as author">
  <li>{{author.Name}}</li>
  <li>{{author.Students}}</li>
  <li>{{author.isPremium}}</li>
</ul>